#rewards-card {
    color: white;
}

#rewards-card:hover {
    cursor: grab;
}

#rewards-cards:active {
    cursor: grabbing;
}

#scroll-left, #scroll-right {
    height: 40px;
}

.card-cover {
    background-image: url('{{ donation_db_rewards_doc.image_data }}'); 
    background-size: cover; 
    width: 300px; 
    height: 300px !important;
    background-position: 50% 50%;

}