<nav class="navbar navbar-expand-md sticky-top bg-body nav-masthead" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="../../static/img/logo-v2.png" alt="Electro Wizard" width="180px" height="25px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav nav-underline">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bills
          </a>
             <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/scan">Scan</a></li>
            <li><a class="dropdown-item" href="/submissionhistory">Bill History</a></li>
            <li><a class="dropdown-item" href="/referral">Referral</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/store">Store</a></li>
          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Donation
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/donation-form">Donation</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Leaderboards
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/donation-leaderboard">Donation</a></li>
            <li><a class="dropdown-item" href="/bill-leaderboard">Electricity</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mission
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/mission">Mission</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="fas fa-user"></i></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/profile-v3">Profile</a>
            <a class="dropdown-item" href="/changepassword">Change Password</a>
            <a class="dropdown-item" href="deleteaccount">Delete Account</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
