<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  
  <!-- custom css -->
  <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="../static/css/base.css">
  
  <!-- favicon -->
  <link nonce="{{ csp_nonce() }}" rel="shortcut icon" href="../static/img/favicon2.jpeg">
  
  <!-- popover scripts -->
  <script nonce="{{ csp_nonce() }}" src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script nonce="{{ csp_nonce() }}">
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  </script>

  <!-- bootstrap icons -->
  <link nonce="{{ csp_nonce() }}"  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- Bootstrap CSS v5.3 -->
  <link nonce="{{ csp_nonce() }}" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link nonce="{{ csp_nonce() }}" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script nonce="{{ csp_nonce() }}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/togglepasswords.js') }}"></script>

</head>
<body class="bg-body-tertiary">

{#{% block navbar %}#}
{#{% include 'includes/_navbar.html' %}#}
{#{% endblock %}#}
{% block navbar %}
    {% if "id" not in session %}
        {% include 'includes/_navbar.html' %}
    {% elif "id" in session %}
        {% if get_user_attribute_unencrypted(session["id"], "role") == "Admin" %}
            {% include 'includes/_adminnavbar.html' %}
        {% elif get_user_attribute_unencrypted(session["id"], "role") == "Leaderboard Manager" %}
            {% include 'includes/_leaderboardnavbar.html' %}
        {% elif get_user_attribute_unencrypted(session["id"], "role") == "Product_manager" %}
            {% include 'includes/_productnavbar.html' %}
        {% elif get_user_attribute_unencrypted(session["id"], "role") == "Mission_manager" %}
            {% include 'includes/_missionnavbar.html' %}
        {% elif get_user_attribute_unencrypted(session["id"],"role") == "Regular" %}
            {% include 'includes/_usernavbar.html' %}
        {% else %}
            {% include 'includes/_usernavbar.html' %}
        {% endif %}
    {% endif %}
{% endblock %}


{% block content %}
{% endblock %}

{% block footer %}
{% include 'includes/_footer.html' %}
{% endblock %}

{% block toggler %}
{% include 'includes/_toggler.html' %}
{% endblock %}

</body>
</html>
