{% extends "submission-base.html" %}
{% block title %}Electro Wizard - Scan{% endblock %}
<link href="../static/css/donation-base.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block modal %}




  <h1>Bills History</h1>
  <p>Check your bill submission history here.</p>

{% endblock %}
{% block content %}
     <table class="table table-dark table-striped">
    <thead>
    <th scope="col">Time period</th>
    <th scope="col">Elixir Gained</th>
    <th scope="col">Electricity Usage</th>
    <th scope="col">Time and date submitted</th>
    </thead>

<tbody>
{% for bill in bills %}
      <tr>
        <td>{{ bill.Period }}</td>
        <td>{{ bill.elixir }}</td>
        <td>{{ bill.Consumption }}Kwh</td>
        <td>{{ bill.timestamp_formatted }}</td>
      </tr>
{% endfor %}
</tbody>
</table>



      </div>



{% endblock %}