{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link nonce="{{ csp_nonce() }}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link nonce="{{ csp_nonce() }}" rel="stylesheet" href="{{ url_for('static', filename='css/passwordreset.css') }}">
<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/passwordreset.js') }}"></script>
<script nonce="{{ csp_nonce() }}" src='https://www.google.com/recaptcha/api.js?render=6LezYBkmAAAAAHdNAgPTnZ2S2DQ2FobvTO5xILZO'></script>
<div id="Background">
    <div class="registration-form">
        <form method="POST" action="" id="login-form">
            {{ form.hidden_tag() }}

            <h3 class="text-center">Password Reset</h3>

            <div class="form-group">
                {{ render_field(form.email, class="form-control item", placeholder="Email") }}
            </div>

            <div class="form-group">
                <input type="hidden" id="g-captcha-response" name="g-captcha-response">
                <input type="submit" class="btn btn-primary btn-block create-account" value="Reset Password" id="submit-button">
            </div>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <h5 class="text-center">{{ message }}</h5>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        </form>
    </div>
</div>
{% endblock %}
