{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link nonce="{{ csp_nonce() }}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link nonce="{{ csp_nonce() }}" href="{{ url_for('static', filename='css/StaffRegister.css') }}" rel="stylesheet">
<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='js/Register.js') }}"></script>
<script nonce="{{ csp_nonce() }}" src='https://www.google.com/recaptcha/api.js?render=6LezYBkmAAAAAHdNAgPTnZ2S2DQ2FobvTO5xILZO'></script>
<div id="Background">
    <div class="registration-form">
        <form method="POST" action="" id="register-form">
            {{ form.hidden_tag() }}

            <h3 class="text-center">Register</h3>

            <div class="form-group">
                {{ render_field(form.username, class="form-control item", placeholder="Username") }}
            </div>
            <div class="form-group">
                {{ render_field(form.email, class="form-control item", placeholder="Email") }}
            </div>
            <div class="form-group">
                {{ render_field(form.phone_num, class="form-control item", placeholder="Phone Number E.g +6512345678") }}
            </div>
            <div class="form-group">
                {{ render_field(form.first_name, class="form-control item", placeholder="First Name") }}
            </div>
            <div class="form-group">
                {{ render_field(form.last_name, class="form-control item", placeholder="Last Name") }}
            </div>
            <div class="form-group">
                {{ render_field(form.address, class="form-control item", placeholder="Address") }}
            </div>
            <div class="form-group">
                {{ render_field(form.postal_code, class="form-control item", placeholder="Postal Code") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                <div class="input-group">
                    {{ form.password(class="form-control item", placeholder="Password") }}
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password form-control item" id="toggle-password">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
                <div class="password-errors">
                    {% for error in form.password.errors %}
                    {{ error }}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                <div class="input-group">
                    {{ form.confirm_password(class="form-control item", placeholder="Confirm Password") }}
                    <div class="input-group-append">
                        <span class="input-group-text toggle-confirm_password form-control item"  id="toggle-confirm_password">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                </div>
                <div class="password-errors">
                    {% for error in form.confirm_password.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>


            <div class="form-group">
                <input type="hidden" id="g-captcha-response" name="g-captcha-response">
                <input type="submit" class="btn btn-primary btn-block create-account" value="Register" id="submit-button">
            </div>
        </form>
    </div>
</div>
{% endblock %}
